# Projeto: Web Scraping com Selenium
### 2ª Etapa: Tratando e Explorando os Dados

In [1]:
#Importando bibliotecas
import pandas as pd 
import numpy as np
import missingno as msno
import plotly.express as px
import unidecode

In [2]:
#Transformando o arquivo em DataFrame
df = pd.read_csv('../basesoriginais/arrecadacao-estado.csv', sep=';', encoding="latin1")

In [3]:
df.head(5)

,Ano,Mês,UF,IMPOSTO SOBRE IMPORTAÇÃO,IMPOSTO SOBRE EXPORTAÇÃO,IPI - FUMO,IPI - BEBIDAS,IPI - AUTOMÓVEIS,IPI - VINCULADO À IMPORTACAO,IPI - OUTROS,...,REFIS,PAES,"RETENÇÃO NA FONTE - LEI 10.833, Art. 30",PAGAMENTO UNIFICADO,OUTRAS RECEITAS ADMINISTRADAS,DEMAIS RECEITAS,RECEITA PREVIDENCIÁRIA,RECEITA PREVIDENCIÁRIA - PRÓPRIA,RECEITA PREVIDENCIÁRIA - DEMAIS,ADMINISTRADAS POR OUTROS ÓRGÃOS
0,2000,Janeiro,AC,231,0,292096,0,0,167,1558,...,NaN,NaN,NaN,NaN,20911,NaN,NaN,NaN,NaN,NaN
1,2000,Janeiro,AL,475088,33873,1329338,812470,0,141735,3676847,...,NaN,NaN,NaN,NaN,127189,NaN,NaN,NaN,NaN,NaN
2,2000,Janeiro,AM,11679405,0,1507146,1791471,27796,4414483,1800346,...,NaN,NaN,NaN,NaN,187988,NaN,NaN,NaN,NaN,NaN
3,2000,Janeiro,AP,24267,0,424862,1419,321,22333,12165,...,NaN,NaN,NaN,NaN,10769,NaN,NaN,NaN,NaN,NaN
4,2000,Janeiro,BA,10476457,13,5542123,11533707,0,7496476,23743858,...,NaN,NaN,NaN,NaN,536498,NaN,NaN,NaN,NaN,NaN

In [4]:
#Verificando o tamanho da base em linhas e colunas
df.shape

(8046, 45)

In [5]:
#Transformando o nome das colunas em minúsculo
df.columns = df.columns.str.lower()
df

,ano,mês,uf,imposto sobre importação,imposto sobre exportação,ipi - fumo,ipi - bebidas,ipi - automóveis,ipi - vinculado à importacao,ipi - outros,...,refis,paes,"retenção na fonte - lei 10.833, art. 30",pagamento unificado,outras receitas administradas,demais receitas,receita previdenciária,receita previdenciária - própria,receita previdenciária - demais,administradas por outros órgãos
0,2000,Janeiro,AC,231,0,292096,0,0,167,1558,...,NaN,NaN,NaN,NaN,20911,NaN,NaN,NaN,NaN,NaN
1,2000,Janeiro,AL,475088,33873,1329338,812470,0,141735,3676847,...,NaN,NaN,NaN,NaN,127189,NaN,NaN,NaN,NaN,NaN
2,2000,Janeiro,AM,11679405,0,1507146,1791471,27796,4414483,1800346,...,NaN,NaN,NaN,NaN,187988,NaN,NaN,NaN,NaN,NaN
3,2000,Janeiro,AP,24267,0,424862,1419,321,22333,12165,...,NaN,NaN,NaN,NaN,10769,NaN,NaN,NaN,NaN,NaN
4,2000,Janeiro,BA,10476457,13,5542123,11533707,0,7496476,23743858,...,NaN,NaN,NaN,NaN,536498,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8041,2024,Outubro,RR,"43991,14",0,0,0,0,"17582,76","136254,02",...,NaN,NaN,NaN,NaN,"-39036,66",NaN,"81349886,89",NaN,NaN,"29139209,01"
8042,2024,Outubro,SC,2016225909,"29896,09",0,"11871792,84","25348170,48","742138935,4","351052376,9",...,NaN,NaN,NaN,NaN,"186100121,9",NaN,2873454791,NaN,NaN,"235169680,8"
8043,2024,Outubro,SP,2667320828,"32361,05","2686142,05","60320497,58","321407391,7","839467904,5",1417867309,...,NaN,NaN,NaN,NaN,1183853414,NaN,19841393538,NaN,NaN,2012231399
8044,2024,Outubro,SE,"9023785,9","29,67","447007,13","3082310,31","14883,28","1201126,32","6315444,83",...,NaN,NaN,NaN,NaN,"1232241,06",NaN,"283871202,1",NaN,NaN,"23087643,73"
8045,2024,Outubro,TO,"6000274,53","105,23",0,"5067,87",0,"2699076,79","1658388,64",...,NaN,NaN,NaN,NaN,"1779186,5",NaN,"227464763,8",NaN,NaN,"34940743,99"

In [6]:
#Transformando os valores NaN em 0
df = df.fillna(0)
print(df)

       ano      mês  uf imposto sobre importação imposto sobre exportação  \
0     2000  Janeiro  AC                      231                        0
1     2000  Janeiro  AL                   475088                    33873
2     2000  Janeiro  AM                 11679405                        0
3     2000  Janeiro  AP                    24267                        0
4     2000  Janeiro  BA                 10476457                       13
...    ...      ...  ..                      ...                      ...
8041  2024  Outubro  RR                 43991,14                        0
8042  2024  Outubro  SC               2016225909                 29896,09
8043  2024  Outubro  SP               2667320828                 32361,05
8044  2024  Outubro  SE                9023785,9                    29,67
8045  2024  Outubro  TO               6000274,53                   105,23

      ipi - fumo ipi - bebidas ipi - automóveis ipi - vinculado à importacao  \
0         292096             0                0                          167
1        1329338        812470                0                       141735
2        1507146       1791471            27796                      4414483
3         424862          1419              321                        22333
4        5542123      11533707                0                      7496476
...          ...           ...              ...                          ...
8041           0             0                0                     17582,76
8042           0   11871792,84      25348170,48                  742138935,4
8043  2686142,05   60320497,58      321407391,7                  839467904,5
8044   447007,13    3082310,31         14883,28                   1201126,32
8045           0       5067,87                0                   2699076,79

     ipi - outros  ... refis paes retenção na fonte - lei 10.833, art. 30  \
0            1558  ...   0.0  0.0                                     0.0
1         3676847  ...   0.0  0.0                                     0.0
2         1800346  ...   0.0  0.0                                     0.0
3           12165  ...   0.0  0.0                                     0.0
4        23743858  ...   0.0  0.0                                     0.0
...           ...  ...   ...  ...                                     ...
8041    136254,02  ...   0.0  0.0                                     0.0
8042  351052376,9  ...   0.0  0.0                                     0.0
8043   1417867309  ...   0.0  0.0                                     0.0
8044   6315444,83  ...   0.0  0.0                                     0.0
8045   1658388,64  ...   0.0  0.0                                     0.0

     pagamento unificado outras receitas administradas demais receitas  \
0                    0.0                         20911               0
1                    0.0                        127189               0
2                    0.0                        187988               0
3                    0.0                         10769               0
4                    0.0                        536498               0
...                  ...                           ...             ...
8041                 0.0                     -39036,66               0
8042                 0.0                   186100121,9               0
8043                 0.0                    1183853414               0
8044                 0.0                    1232241,06               0
8045                 0.0                     1779186,5               0

     receita previdenciária receita previdenciária - própria  \
0                         0                                0
1                         0                                0
2                         0                                0
3                         0                                0
4                         0                                0
...                     ...                              ...
8041            81349886,89                                0
8042             2873454791                                0
8043            19841393538                                0
8044            283871202,1                                0
8045            227464763,8                                0

     receita previdenciária - demais  administradas por outros órgãos
0                                  0                                0
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0
...                              ...                              ...
8041                               0                      29139209,01
8042                               0                      235169680,8
8043                               0                       2012231399
8044                               0                      23087643,73
8045                               0                      34940743,99

[8046 rows x 45 columns]

In [7]:
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

,ano,mês,uf,imposto sobre importação,imposto sobre exportação,ipi - fumo,ipi - bebidas,ipi - automóveis,ipi - vinculado à importacao,ipi - outros,...,refis,paes,"retenção na fonte - lei 10.833, art. 30",pagamento unificado,outras receitas administradas,demais receitas,receita previdenciária,receita previdenciária - própria,receita previdenciária - demais,administradas por outros órgãos
0,2000,Janeiro,AC,231,0,292096,0,0,167,1558,...,0.0,0.0,0.0,0.0,20911,0,0,0,0,0
1,2000,Janeiro,AL,475088,33873,1329338,812470,0,141735,3676847,...,0.0,0.0,0.0,0.0,127189,0,0,0,0,0
2,2000,Janeiro,AM,11679405,0,1507146,1791471,27796,4414483,1800346,...,0.0,0.0,0.0,0.0,187988,0,0,0,0,0
3,2000,Janeiro,AP,24267,0,424862,1419,321,22333,12165,...,0.0,0.0,0.0,0.0,10769,0,0,0,0,0
4,2000,Janeiro,BA,10476457,13,5542123,11533707,0,7496476,23743858,...,0.0,0.0,0.0,0.0,536498,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8041,2024,Outubro,RR,"43991,14",0,0,0,0,"17582,76","136254,02",...,0.0,0.0,0.0,0.0,"-39036,66",0,"81349886,89",0,0,"29139209,01"
8042,2024,Outubro,SC,2016225909,"29896,09",0,"11871792,84","25348170,48","742138935,4","351052376,9",...,0.0,0.0,0.0,0.0,"186100121,9",0,2873454791,0,0,"235169680,8"
8043,2024,Outubro,SP,2667320828,"32361,05","2686142,05","60320497,58","321407391,7","839467904,5",1417867309,...,0.0,0.0,0.0,0.0,1183853414,0,19841393538,0,0,2012231399
8044,2024,Outubro,SE,"9023785,9","29,67","447007,13","3082310,31","14883,28","1201126,32","6315444,83",...,0.0,0.0,0.0,0.0,"1232241,06",0,"283871202,1",0,0,"23087643,73"
8045,2024,Outubro,TO,"6000274,53","105,23",0,"5067,87",0,"2699076,79","1658388,64",...,0.0,0.0,0.0,0.0,"1779186,5",0,"227464763,8",0,0,"34940743,99"

In [8]:
#Transformando os registros e tipos de imposto em linhas
df_melted = pd.melt(df, id_vars=['ano', 'mês', 'uf'], var_name='tipo_imposto', value_name='valor')

In [9]:
#Ajustando e padronizando a coluna valor
import re

# Função para ajustar os valores
def ajustar_valor(valor):
    if isinstance(valor, str):  # Verifica se o valor é uma string
        try:
            # Remover separadores de milhar (pontos ou vírgulas que não são decimais)
            valor_formatado = re.sub(r'(?<=\d)[.,](?=\d{3}(?!\d))', '', valor)
            # Substituir a vírgula decimal final por ponto
            valor_formatado = valor_formatado.replace(',', '.')
            # Converter para float
            return float(valor_formatado)
        except ValueError:
            print(f"Erro ao converter o valor: {valor}")
            return None
    else:
        return None

# Aplicando a função à coluna 'valor' do DataFrame
df_melted['valor_ajustado'] = df_melted['valor'].apply(ajustar_valor)

# Ajustar a exibição dos valores para não mostrar notação científica
pd.options.display.float_format = '{:.2f}'.format

# Exibindo o DataFrame ajustado
print(df_melted)

         ano      mês  uf                     tipo_imposto        valor  \
0       2000  Janeiro  AC         imposto sobre importação          231
1       2000  Janeiro  AL         imposto sobre importação       475088
2       2000  Janeiro  AM         imposto sobre importação     11679405
3       2000  Janeiro  AP         imposto sobre importação        24267
4       2000  Janeiro  BA         imposto sobre importação     10476457
...      ...      ...  ..                              ...          ...
337927  2024  Outubro  RR  administradas por outros órgãos  29139209,01
337928  2024  Outubro  SC  administradas por outros órgãos  235169680,8
337929  2024  Outubro  SP  administradas por outros órgãos   2012231399
337930  2024  Outubro  SE  administradas por outros órgãos  23087643,73
337931  2024  Outubro  TO  administradas por outros órgãos  34940743,99

        valor_ajustado
0               231.00
1            475088.00
2          11679405.00
3             24267.00
4          10476457.00
...                ...
337927     29139209.01
337928    235169680.80
337929   2012231399.00
337930     23087643.73
337931     34940743.99

[337932 rows x 6 columns]

In [10]:
# Verificando o tipo da coluna inteira
tipo_coluna = df_melted['valor_ajustado'].dtype

# Exibindo o tipo da coluna
print(tipo_coluna)

float64

In [11]:
df_melted['valor'] = df_melted.valor_ajustado
df_melted = df_melted.drop(columns=['valor_ajustado'])
df_melted

         ano      mês  uf                     tipo_imposto         valor
0       2000  Janeiro  AC         imposto sobre importação        231.00
1       2000  Janeiro  AL         imposto sobre importação     475088.00
2       2000  Janeiro  AM         imposto sobre importação   11679405.00
3       2000  Janeiro  AP         imposto sobre importação      24267.00
4       2000  Janeiro  BA         imposto sobre importação   10476457.00
...      ...      ...  ..                              ...           ...
337927  2024  Outubro  RR  administradas por outros órgãos   29139209.01
337928  2024  Outubro  SC  administradas por outros órgãos  235169680.80
337929  2024  Outubro  SP  administradas por outros órgãos 2012231399.00
337930  2024  Outubro  SE  administradas por outros órgãos   23087643.73
337931  2024  Outubro  TO  administradas por outros órgãos   34940743.99

[337932 rows x 5 columns]

In [12]:
#Salvando a base tratada
df_melted.to_csv('../basestratadas/arrecadacao-estadov2.csv', index=False)